
<div class="container">
<div class="col-sm-offset-3 col-sm-6">
<form action="/login" method="post" role="form" class="form-horizontal">
    <h2 class="col-sm-offset-4">Please sign in</h2>
    </br>
    <% if (error) { %>
    <div class="alert alert-danger"><p><%=error%></p></div>
    <% } %>
    <div class="form-group">
        <label for="user" class="control-label col-sm-4">Username:</label>
        <div class="col-sm-6">
        <input id="user" class="form-control" type="text" name="username" placeholder="Sample user: user1"/>
        </div>
    </div>
    <div class="form-group">
        <label for="pass" class="control-label col-sm-4">Password:</label>
        <div class="col-sm-6">
        <input id="user" class="form-control" type="password" name="password" placeholder="Password is Welcome"/>
        </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-6">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
</form>
</div>
</div>

